{% extends 'mainAuth.html.twig' %}

{% block title %}Admin - Changer Mot de Passe{% endblock %}

{% block content %}

    <h1 class="mt-4 col-12 text-center">Changer le mot de passe</h1>

    <form method="post" action="/admin/change-password" class="col-12 col-md-6 offset-md-3 mt-md-5">

        <div class="form-group">
            <input type="hidden" id="author" value="">
            <label for = "currentPassword">Mot de passe actuel</label>
            <input id="currentPassword" type="password" name="currentPassword" required maxlength="20" class="form-control">
            <label for = "newPassword">Nouveau mot de passe</label>
            <input id="newPassword" type="password" name="newPassword" required maxlength="20" class="form-control">
            <label for = "newPasswordCheck">Saisir le nouveau mot de passe</label>
            <input id="newPasswordCheck" type="password" name="newPasswordCheck" required maxlength="20" class="form-control">
        </div>

        <div class="col-10 offset-1">
            <div class="form-submit">
                <p><button type="submit" class="btn btn-success">Enregistrer</button></p>
                <p><button type="submit" class="btn btn-secondary" formaction="/profile">Retour</button></p>
            </div>
        </div>

    </form>

{% endblock %}