<!-- Networks Widget -->
<div class="card my-4">
    <h5 class="card-header">Réseaux</h5>
    <div class="card-body">
        <img class="sidebar-network" src="/assets/images/icons/Github.png" alt="github">
        <img class="sidebar-network" src="/assets/images/icons/Linkedin-icon.png" alt="linkedin">
    </div>
</div>