/*********GENERAL*****************************/
html{
    min-height: 100%;
    height: 100%;
}

body{
    position: absolute;
    min-height: 100vh;
}

#mainContainer{
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 40px;
}

#leftBrand{
    margin-right: 0;
    margin-left: 1rem;
}

.under-header{
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    margin-bottom: -40px;
}

#page-content-wrapper{
    padding-bottom: 40px;
}

footer{
    width: 100vw;
    background-color: #343a40 ;
    color: white;
    height: 40px;
    margin-top: -40px;
}

footer a{
    color: white;
}

footer p{
    margin-bottom: 0;
}

footer .row{
    margin: 0;
}

/*********FRONT***************************/
#front-nav{
    height: 50px;
}

.front-content{
    padding-top: 30px;
    padding-bottom: 50px;
}

.front-content h1{
    font-weight: bold;
}

.front-content h1, .front-content h2{
    margin: 5% 0;
}

.front-content h3{
    margin: 5% 0;
    font-weight: bold;
    font-size: 1.2rem;
}

#avatar {
    background-image: url('/assets/uploads/photoProfile.png');
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ownerName {
    font-size: 2rem;
}

#ownerTitle {
    font-size: 1.5rem;
}

#baseline{
    font-style: italic;
}

#eyeUpload{
    padding-left: 10px;
}

#thanksRow{
    height: 100%;
}

/******************ADMIN************************/

/*General*/
.admin-content{
    padding-top: 30px;
}

.admin-table,.admin-form{
    margin-top: 50px;
}


/*Header*/
#header-back{
    height: 40px;
}

#header-back>p{
    margin-bottom: 0;
}

#avatarHeader{
    width: 30px;
    height: 30px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

#menu-toggle{
    padding: 0;
}

/*Sidebar*/

#sidebar-nav{
    min-height: 100%;
    margin-bottom: 40px;
}

#header-back{
    color: white;
}

/*Admin tables*/
.table-image>div{
    width: 90%;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.admin-table th,.admin-table a{
    color: darkorange;
}

.admin-table{
    text-align: center;
}


/*Admin forms*/

.admin-form section{
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-section{
    border-bottom: solid 1px darkgray;
}

/*Admin Edit Post*/

#adminPostHeader{
    height: 100px;
}

/*Admin Profile*/
#adminProfileAvatar{
    height: 6rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#resumePdf{
    width: 800px;
    height: 1000px;
}

/*Admin Professional*/
.admin-social-icon{
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/******DESKTOP***********/
@media (min-width:768px) {

    /*Front*/
    .front-content h1{
        font-size: 2.5rem;
    }

    .front-content h1,.front-content h2{
        margin: 3% 0;
    }

    #baseline{
        font-size: 1.3rem;
    }
}

