/*********GENERAL*****************************/
html{
    height: 100%;

}

body{
    height: 100%;
}

#mainContainer{
    width: 100vw;
    min-height: 100%;
    padding-bottom: 40px;
}

#wrapper-front {
    padding-top: 40px;
}

#leftBrand{
    margin-right: 0;
    margin-left: 1rem;
}

.under-header{
    margin-top: 20px;
    width: 100%;
}

footer{
    width: 100vw;
    background-color: #343a40 ;
    color: white;
    height: 40px;
    margin-top: -40px;
}

footer a{
    color: white;
}

footer p{
    margin-bottom: 0;
}

footer .row{
    margin: 0;
}

/*********FRONT***************************/

#avatar {
    background-image: url('/assets/uploads/photoProfile.png');
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ownerName {
    font-size: 2rem;
}

#ownerTitle {
    font-size: 1.5rem;
}

#baseline{
    font-style: italic;
}

#eyeUpload{
    padding-left: 10px;
}

#thanksRow{
    height: 100%;
}

/******************ADMIN************************/

/*General*/
.admin-content{
    padding-top: 30px;
}

.admin-table,.admin-form{
    margin-top: 50px;
}


/*Header*/
#header-back>p{
    margin-bottom: 0;
}

#avatarHeader{
    width: 30px;
    height: 30px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Sidebar*/
#sidebar-nav{
    height: 100vh;

}

#header-back{
    color: white;
}

/*Admin tables*/
.table-image>div{
    width: 90%;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/*Admin forms*/

.admin-form section{
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-section{
    border-bottom: solid 1px darkgray;
}

/*Admin Edit Post*/

#adminPostHeader{
    height: 100px;
}

/*Admin Profile*/
#adminProfileAvatar{
    height: 6rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#resumePdf{
    width: 800px;
    height: 1000px;
}

/*Admin Professional*/
.admin-social-icon{
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

