{% extends 'mainFront.html.twig' %}

{% block title %}404 - Page Not Found{% endblock %}

{% block content %}
    <h1 class="col-12 text-center">LA PAGE DEMANDEE N'A PU ETRE TROUVEE</h1>
{% endblock %}