{% extends 'mainFront.html.twig' %}

{% block title %}Merci{% endblock %}

{% block mainContent %}

    <!-- Profile Content Column -->
    <div id="thanksRow" class="row front-content">
        <h1 class="col-12 text-center">Merci pour votre commentaire!</h1>

        <div id="thanksBlock" class="col-12">
            <div class="row d-flex flex-column justify-content-center">
                <p class="col-12 text-center">Votre commentaire a bien été envoyé, je le modère dans les plus brefs délais.</p>

                <div class="col-12 mt-5">
                    <div class="row">
                        <p class="col-6 text-center link-btn"><a class="btn btn-primary" href="{{ previousPage }}">Retour</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

