<footer class="container-fluid">
    <div class="row d-flex align-items-center">
        <p class="col-6 text-center"><a href="/admin/">Espace Admin</a></p>
        <p class="col-6 text-center"><a href="/cgu/">CGU</a></p>
    </div>
</footer>