{% extends 'mainFront.html.twig' %}

{% block title %}Contact{% endblock %}

{% block mainContent %}

    <div class="row front-content">
        <h1 class="col-12 text-center">Contact</h1>

        <form action="/contact/send" method="post" id="contactForm" class="col-12 col-md-10 offset-md-1">

            <div class="row">
                <div class="form-group col-12">
                    <label for="contactMail" class="col-12">Email de contact</label>
                    <input id="contactMail" type="email" name="contactMail" placeholder="Email" class="col-12 form-control">
                </div>
            </div>

            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="form-group col-6">
                        <div class="row">
                            <input id="female" type="radio" name="contactGender" class="form-control col-2" value=0>
                            <label for="female" class="col-10">Mme</label>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <div class="row">
                            <input id="male" type="radio" name="contactGender" class="form-control col-2" value=1>
                            <label for="male" class="col-10">M.</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 text-center">
                    <label for="contactFirstName" class="col-12">Prénom</label>
                    <input id="contactFirstName" type="text" name="contactFirstName" placeholder="Prénom" class="col-12 form-control">
                </div>

                <div class="form-group col-12 text-center">
                    <label for="contactLastName" class="col-12">Nom</label>
                    <input id="contactLastName" type="text" name="contactLastName" placeholder="Nom" class="col-12 form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12">
                    <label for="contactMessage" class="col-12">Message</label>
                    <textarea id="contactMessage" name="contactMessage" class="col-12 form-control"></textarea>
                </div>

                <div class="form-group col-12">
                    <input type="hidden" name="edit" value="">
                    <button type="submit" class="btn btn-success col-4 offset-1">Envoyer</button>
                    <button type="submit" class="btn btn-secondary col-4 offset-1" formaction="/">Annuler</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

