{% extends 'baseLayout.html.twig' %}

{% block header %}
    {% include 'frontHeader.html.twig' %}
{% endblock %}

{% block content %}

    <!--Main area -->
    <div id="front-content-wrapper" class="col-12 col-md-7 offset-md-1">

    {% block mainContent %}
    {% endblock %}

    </div>
    <!-- /#page-content-wrapper -->

    <!-- Sidebar -->
    <div id="frontToggleBtn" class="d-flex align-items-center hidden"><span> > </span></div>

    <div id="front-sidebar" class="col-10 col-md-3 offset-1 hidden">

    {% block sideBar %}

        <!-- Networks Widget -->
        <div class="card my-4">
            <h5 class="card-header">Réseaux</h5>
            <div class="card-body">
                <img class="sidebar-network" src="/assets/images/icons/Github.png" alt="github">
                <img class="sidebar-network" src="/assets/images/icons/Linkedin-icon.png" alt="linkedin">

            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">Télécharger CV <a href="/assets/uploads/resume.pdf" target="_blank"><i id="eyeUpload" class="fas fa-eye"></i></a></h5>
        </div>

        <div class="card my-4">
            <h5 class="card-header">Derniers articles</h5>
            <div class="card-body">
                <p><a href="">Un article</a></p>
                <p><a href="">Un autre article</a></p>
                <p><a href="">Et encore un</a></p>
            </div>
        </div>

    {% endblock %}

    </div>
    <!-- /#sidebar-wrapper -->



{% endblock %}

{% block footer %}
    {% include 'frontFooter.html.twig' %}
{% endblock %}

{% block footerScripts %}
    {{ parent() }}
    <script src="/assets/js/sidebar-toggle.js"></script>
{% endblock %}
