{% extends 'baseLayout.html.twig' %}

{% block header %}
    {% include 'frontHeader.html.twig' %}
{% endblock %}

{% block content %}

    <!--Main area -->
    <div id="front-content-wrapper" class="col-12 col-md-7 offset-md-1">

        {% block mainContent %}{% endblock %}

    </div>
    <!-- /#page-content-wrapper -->

    <!-- Sidebar -->
    <div id="frontToggleBtn" class="d-flex align-items-center hidden"><span> > </span></div>

    <div id="front-sidebar" class="col-10 col-md-3 offset-1 hidden">

    {% block sideBar %}{% endblock %}

    </div>
    <!-- /#sidebar-wrapper -->



{% endblock %}

{% block footer %}
    {% include 'frontFooter.html.twig' %}
{% endblock %}

{% block footerScripts %}
    {{ parent() }}
    <script src="/assets/js/sidebar-toggle.js"></script>
{% endblock %}
