{% extends 'mainFront.html.twig' %}

{% block mainContent %}
    <div class="row front-content">
        <!-- Title -->
        <h1>1er article</h1>

        <!-- Author -->
        <p class="lead">
            par
            <a href="/profile">Greg</a>
        </p>

        <!-- Date/Time -->
        <p>Publié le 13 janvier 2020</p>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/assets/uploads/postHeader.jpg" alt="skate">

        <!-- Post Content -->
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum mollis gravida. Proin consequat tincidunt leo, vitae iaculis mi tempus eu. Maecenas pellentesque ut lectus id suscipit. Sed blandit, lectus in efficitur interdum, diam felis imperdiet massa, fringilla porta felis mauris ut nisi. Nunc fringilla, diam non blandit consequat, leo tellus malesuada odio, at vehicula enim sapien accumsan dui. Praesent aliquam, urna quis dictum ornare, diam orci ornare sem, a varius lacus nisi vitae diam. Curabitur neque enim, pretium non tellus eget, rhoncus ultricies nisi. Praesent efficitur, lectus et semper ornare, odio est sodales dui, sed consectetur magna metus et mi. Quisque ut tempus lorem, vitae pellentesque elit. Aliquam erat volutpat. In vitae felis in lectus sollicitudin facilisis. Cras lobortis, lorem nec dapibus finibus, erat risus sagittis ex, quis feugiat lectus metus vehicula diam. Nullam mattis tortor ac ligula scelerisque lacinia. Vestibulum mauris turpis, tincidunt et condimentum ac, sagittis et nulla.

            Duis consequat, turpis vitae tempus eleifend, metus odio suscipit eros, ut molestie neque nibh et urna. Nunc eget dui et erat dictum varius elementum a diam. Fusce et tempor sem. Aliquam cursus luctus magna, eu dignissim lectus vehicula in. Maecenas vulputate non velit sit amet condimentum. Donec nulla nisl, malesuada in velit ac, auctor volutpat quam. Proin lacinia, nunc sit amet consequat facilisis, sapien nulla gravida mi, non varius mi sem ac justo. Aenean fermentum a lectus ac luctus. Etiam ullamcorper pharetra tortor vitae malesuada. Praesent accumsan quam et neque egestas accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam molestie, justo sit amet convallis congue, ipsum dui sollicitudin ex, eget mattis quam orci dapibus ex. Fusce eget sollicitudin mauris. Ut eu fringilla elit. Aenean in lectus imperdiet, condimentum turpis sit amet, luctus quam.

            Pellentesque tincidunt eu arcu vitae fermentum. Nullam eu rutrum nunc. Suspendisse non nunc feugiat, dictum neque in, ultrices ipsum. Donec rhoncus pretium orci, mollis gravida ligula convallis eget. Donec dapibus sapien leo, at malesuada mi blandit eget. Aliquam quis elementum sem, id commodo sapien. Quisque tristique ut turpis in fringilla. Nam aliquam consectetur malesuada. Etiam pellentesque urna in dui consectetur lacinia nec eu massa. Pellentesque scelerisque quam vel erat congue gravida. Morbi in molestie ex. Fusce sagittis rhoncus metus nec congue. Proin consectetur elit at volutpat sollicitudin. Sed aliquet finibus iaculis. Sed vel libero at enim tristique iaculis.

            Nulla molestie nulla massa, at pretium est aliquet eu. Vivamus sit amet lectus turpis. Curabitur aliquam magna tempor, condimentum felis id, feugiat nulla. Praesent accumsan at urna efficitur pretium. Aliquam pharetra quis nunc non iaculis. Donec mollis vel lectus quis finibus. Proin congue ipsum ac fermentum euismod.
        </div>

        <!-- Comments Form -->
        <div class="card col-12 my-4">
            <h5 class="card-header">Laisser un commentaire:</h5>
            <div class="card-body">
                <form action="/blog/post-0/send-comment" method="post">
                    <div class="form-group">
                        <label for="pseudo">Pseudo</label>
                        <input id="pseudo" type="text" name="pseudo" class="form-control" placeholder="Pseudo">
                    </div>
                    <div class="form-group">
                        <label for="content">Commentaire</label>
                        <textarea id="content" name="content" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                </form>
            </div>
        </div>

        <!-- Comments -->
        <div class="media col-12 mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">Gigi</h5>
                Très bel article
            </div>
        </div>


    </div>
{% endblock %}

