{% extends 'mainFront.html.twig' %}

{% block mainContent %}

    <!-- Profile Content Column -->
    <div class="row">
        <h1 class="col-12 text-center">Merci pour votre demande!</h1>

        <p class="col-12 text-center">Votre demande a bien été envoyée, je vous répondrai dans les plus brefs délais.</p>

        <div class="row">
            <p class="col-6 text-center"><a href="/">Profil</a></p>

            <p class="col-6 text-center"><a href="/blog">Blog</a></p>
        </div>

    </div>

{% endblock %}

