{% extends 'mainFront.html.twig' %}

{% block mainContent %}

    <!-- Profile Content Column -->
    <div id="thanksRow" class="row">
        <h1 class="col-12 text-center my-4">Merci pour votre demande!</h1>

        <div id="thanksBlock" class="col-12">
            <div class="row d-flex flex-column justify-content-center">
                <p class="col-12 text-center">Votre demande a bien été envoyée, je vous répondrai dans les plus brefs délais.</p>

                <div class="col-12">
                    <div class="row">
                        <p class="col-6 text-center"><a href="/">Profil</a></p>

                        <p class="col-6 text-center"><a href="/blog">Blog</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

