<div class="card my-4">
    <h5 class="card-header">Derniers articles</h5>
    <div class="card-body">
        <p><a href="">Un article</a></p>
        <p><a href="">Un autre article</a></p>
        <p><a href="">Et encore un</a></p>
    </div>
</div>