{% extends 'adminUpdateNetwork.html.twig' %}

{% block title %}Admin - Nouveau Réseau{% endblock %}

{% block h1Title %}<h1 class="col-12 text-center">Ajouter un nouveau réseau</h1>{% endblock %}

{% block h3Title %}<h3 class="col-12 text-center my-4">Enregistrer un nouveau réseau</h3>{% endblock %}