<!--Nav-->
<header id="header-back" class="fixed-top container-fluid">
    <div class="row">
        <p class="col-1">
            <button class="btn btn-primary" id="adminToggleBtn"><i class="fas fa-bars"></i></button>
        </p>
        <div class="col-10 col-md-3 offset-md-7 d-flex justify-content-end">
            <p class="">Greg</p>
            <div class="ml-4" id=avatarHeader style="background-image:url('/assets/uploads/photoProfile.png')"></div>
        </div>
    </div>
</header>
<!--end nav-->