{% extends 'adminEditPost.html.twig' %}

{% block title %}Admin - Nouvel Article{% endblock %}

{% block h1Title %}<h1 class="col-12 text-center">Nouvel article</h1>{% endblock %}

{% block h2Title %}{% endblock %}