{% extends 'mainBack.html.twig' %}

{% block mainContent %}

    <div class="row">
        <!-- Blog Entries Column -->
        <h1 class="col-12 text-center">Mon profil</h1>
    </div>

{% endblock %}
