{% extends 'mainAdmin.html.twig' %}

{% block title %}Admin - Supprimer Article{% endblock %}

{% block mainContent %}

    <div class="row">
        <!-- Blog Entries Column -->
        <h1 class="col-12 text-center">Article supprimé</h1>
    </div>

{% endblock %}
