{% extends 'baseLayout.html.twig' %}

{% block header %}
    {% include 'headerBack.html.twig' %}
{% endblock %}

{% block content %}
    <!-- Sidebar -->
    <div class="bg-light border-right col-2" id="sidebar-nav">
        <div class="list-group list-group-flush">
            <a href="/admin/posts" class="list-group-item list-group-item-action bg-light">Articles</a>
            <a href="/admin/comments" class="list-group-item list-group-item-action bg-light">Commentaires</a>
            <a href="/admin/my-profile" class="list-group-item list-group-item-action bg-light">
                Mon profil</a>
            <a href="/admin/professional" class="list-group-item list-group-item-action bg-light">Professionnel</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!--Main area -->
    <div id="page-content-wrapper" class="col-10">

        {% block mainContent %}
        {% endblock %}

    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}


{% block footer %}
    {% include 'footerBack.html.twig' %}
{% endblock %}


