{% extends 'mainBack.html.twig' %}

{% block mainContent %}

    <div class="row admin-content">

        <h1 class="col-12 text-center">Ajouter un Réseau social</h1>

        <form action="/admin/professional/social" method="post" id="socialForm" class="col-12 col-md-10 offset-md-1 admin-form" enctype="multipart/form-data">

            <div id="socialSectionName" class="row form-section">
                <div class="col-12 col-md-8 offset-md-2 my-2">
                    <div class="row">
                        <label for="networkName" class="col-12">Nom du réseau social</label>
                        <input id="networkName" type="text" name="networkName" class="col-11 form-control " value="">
                    </div>
                </div>
            </div>

            <div id="socialSectionIcon" class="row form-section">
                <div class="col-12 col-md-2">
                    <div class="row">
                        <p class="col-12">Icone</p>
                        <div id="networkIcon" class="col-12" style="background-image: url('/assets/images/icons/empty-image.png');">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-10 mt-4">
                    <div class="form-group col-12 col-md-10 offset-md-1">
                        <label for="mainImageFile" class="col-12">Télécharger un fichier</label>
                        <input type="hidden" name="MAX_FILE_SIZE" value="300000" />
                        <input id="mainImageFile" name="mainImageFile" type="file" class="col-12 form-control">
                    </div>
                </div>
            </div>

            <div id="professionalSectionButtons" class="row">
              <div class="col-10 offset-1">
                    <div class="form-submit">
                        <p><button type="submit" class="btn btn-success">Enregistrer</button></p>
                        <p><button type="submit" class="btn btn-secondary" formaction="/admin/professional">Retour</button></p>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
